/* Color Theme Swatches in Hex */
/*
.principal { color: #470459; }
.destaque { color: #F2CB57; }
.UI/UX-Design,-Mobile-App-Design-2-hex { color: #8538A6; }
.UI/UX-Design,-Mobile-App-Design-3-hex { color: #7386BF; }
.background { color: #F2F2F2; }
*/

html {
    background: #F2F2F2;
    color: #470459;

    font-size: 18px;
    font-family: Helvetica, sans-serif;
    
}

p {
    text-indent: 1em;
}

h1, h2, h3 {
    text-align: center;
}

h1 {font-size: 1.8rem;}
h2 {font-size: 1.4rem;}
he {font-size: 1.2rem;}

.summary {text-align: right;}
.main p {line-height: 1.5;}
abbr {font-variant: small-caps;}
